If:
  PathMatch: .*\.(cc|h)$
CompileFlags:
  Compiler: /usr/bin/c++

---

CompileFlags:
  Add:
    - --cuda-gpu-arch=sm_86
  Remove:
    - -forward-unknown-to-host-compiler
    - --generate-code*
    - --options-file
    - -rdc=true
    - -Xcompiler=-fPIC
    - -Xcompiler=-fvisibility=hidden